.logoInterRegistro{
    position: absolute;
    left: 1vw;
    top: 2vh;
    
    width: 45px;
}

.logoInterLogin{
    position: absolute;
    right: 1vw;
    top: 2vh;
    
    width: 45px;
}

.iconesRow{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 16px;
    color: #280F3E;
    
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50px;

    transition: 0.2s ease-in-out;

    &:hover{
        filter: drop-shadow(1px 1px 3px #280F3E);
    }
}