.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.headerPosition{
    display: flex;
    align-items: center;
}

.menuButton, .iconButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px;
    color: #532567;
    border: 1px solid #532567;
    border-radius: 8px;
}
  
.pesquisa {
    border: 2px solid #532567;
    border-radius: 5px;
    padding: 10px 200px 10px 15px;
}

.logo {
    height: 40px;
    border-radius: 500px;
}

@media (min-width: 769px) {
        
.menuButton {
      display: none;
}

}
