.filtroContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 80px;
}

.botao {
  background-color: #532567;
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  color: white;
  margin: 8px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}

@media (min-width: 320px) {
  .filtroContainer {
    gap: 20px;
  }
}
@media (min-width: 640px) {
  .filtroContainer {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .filtroContainer {
    gap: 40px;
  }
}
