@import url(desktop/header.css);
@import url(desktop/footer.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
*/

@font-face {
    font-family: FuturaBold;
    src: url(../fonts/Futura\ Round\ Demi.ttf);
}

@font-face {
    font-family: FuturaRegular;
    src: url(../fonts/Futura\ Round.ttf);
}

:root{
    --cor-principal: #532567;
    --cor-secundaria: #BA68C8;
    --cor-terciaria: #F4E9E1;
    
    --variacao-principal: #280F3E;
    --variacao-secundaria: #9FA8D0;
    --variacao-terciaria: #CECBC5;

    --cor-texto-branco: #fff;
    --cor-texto-preto: #030303;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    max-width: 100vw;

    box-sizing: border-box;
    scroll-behavior: smooth;

    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
}